.cart-table-component {
    table {
        tr {
            td.product-name, td.product-delete {
                cursor: pointer;
            }
        }
    }

    table tr.product:nth-child(odd) {
        background-color: #dadada;
    }
    
    table tr.product:first-child {
        background-color: #1a345b;
        color: #fff;
    }

    table tr.product:hover {
        background-color: darkgray;
    }
}
