<div class="cart-table-component">
    <table class="h-100 w-100">
        <tr>
            <td *ngFor="let columnTitle of columnTitles"><b>{{columnTitle}}</b></td>
            <td></td>
        </tr>
        <tr class="product" *ngFor="let product of products">
            <td class="product-name" (click)="onSelect(product)">{{product.selectedProduct.name}}</td>
            <td class="product-quantity">{{product.quantity}}</td>
            <td class="product-item-total">${{product.itemTotal}}</td>
            <td class="product-delete" (click)="onDelete(product)">X</td>
        </tr>
        <tr class="total">
            <td></td>
            <td>Total:</td>
            <td>{{total}}</td>
            <td></td>
        </tr>
    </table>
</div>