<div class="edit-item-container">
  <h4 class="header" *ngIf="!editingMode">Add</h4>
  <h4 class="header" *ngIf="editingMode">Edit</h4>

  <div class="edit-item-body" *ngIf="dataLoaded">
    <form class="form-horizontal">
      <div class="form-group row">
        <div class="col-3">
          <label for="item-name" class="control-label">Name:</label>
        </div>
        <div class="col-9">
          <select name="item-name" class="form-control" [disabled]="editingMode" [(ngModel)]="item.selectedProduct" (change)="onProductSelection()">
            <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <label for="item-quantity" class="control-label">Quantity:</label>
        </div>
        <div class="col-9">
          <input name="item-quantity" class="form-control" type="number" step="1" [(ngModel)]="item.quantity" (change)="calculateItemTotal()"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <label for="item-price" class="control-label">Price ($):</label>
        </div>
        <div class="col-9">
          <input name="item-price" class="form-control" type="number" [value]="item.itemTotal" disabled/>
        </div>
      </div>
      <div class="form-group row btn-container">
        <button type="button" class="btn btn-primary" [disabled]="!item.quantity" *ngIf="!editingMode" (click)="addItemToCart()">Add</button>
        <button type="button" class="btn btn-primary" [disabled]="!item.quantity" *ngIf="editingMode"  (click)="updateItemInCart()">Update</button>
        <button type="button" class="btn btn-default" (click)="cancelItem()">Cancel</button>
      </div>
    </form>
  </div>
</div>